<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	  <add key="TopDownLibraries" value="https://topdown.pkgs.visualstudio.com/_packaging/TDL/nuget/v3/index.json" />
	   <add key="TDL Public" value="https://topdown.pkgs.visualstudio.com/public/_packaging/tdl_public/nuget/v3/index.json" />
	   <!--<add key="Proget" value="http://proget.kelleher.northwestern.edu/nuget/TopDownLibrary" />-->
	  <add key="Public Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>